<section class="not-found-page mg-4">
  <div class="container">
    <article class="not-found d-flex flex-col ta-center">
      <h2 class="title mg-4 txt-xl">404 Not found</h2>
      <p class="detail mg-2 txt-md">Page not found</p>
      <p class="content mg-2 txt-primary">The page you looking for doesn't exist or an orther error occurred.<br>
      <a class="content-link" href="http://localhost:4200/home">Go Back</a>, or heard over to web to choose a new direction.</p>
    </article>
  </div> 
</section>

