<section class="dashboard-page d-flex flex-wrap">
  <ul class="menu-list d-flex flex-col ">
    <li class="menu-item pd-2 d-flex jc-center"><a class="menu-item-link" href="">Dashboard v1</a></li>
    <li class="menu-item pd-2 d-flex jc-center"><a class="menu-item-link" href="">Dashboard v1</a></li>
    <li class="menu-item pd-2 d-flex jc-center"><a class="menu-item-link" href="">Dashboard v1</a></li>
  </ul>
  <div class="dashboard-page-content ">
    <img class="img-dashboard" src="assets/images/ti so.png" alt="">
  </div>
</section>
