<section class="page-register-form">
  <section class="section-register pd-4  d-flex mg-auto">
    <div class="container">
      <h2 class="title-register d-flex jc-center txt-uppercase">Register</h2>
      <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit() ">
        <div class="form-group">
          <label for="">Full name:</label>
          <input type="text" class="form-control" formControlName="name">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="log-error">
            <div *ngIf="name?.errors.required">Full name is required</div>
            <div *ngIf="name?.errors.minlength">This is min length than 10</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Email address:</label>
          <input type="text" class="form-control" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="log-error">
            <div *ngIf="email?.errors.required">Email is required</div>
          </div>
        </div>
        <div formGroupName="address" class="form-group">
          <label for="">Address:</label>
          <div>
            <input type="text" class="form-control mr-2" placeholder="Home number" formControlName="home">
            <div *ngIf="registerForm.get('address.home').invalid && (registerForm.get('address.home').dirty || registerForm.get('address.home').touched)" class="log-error">
              <div *ngIf="registerForm.get('address.home')?.errors.required">Home number is required</div>
            </div>
            <input type="text" class="form-control mr-2" placeholder="Street name"  formControlName="street">
            <div *ngIf="registerForm.get('address.street').invalid && (registerForm.get('address.street').dirty || registerForm.get('address.street').touched)" class="log-error">
              <div *ngIf="registerForm.get('address.street')?.errors.required">Street name is required</div>
            </div>
            <input type="text" class="form-control mr-2" placeholder="City" formControlName="city">
            <div *ngIf="registerForm.get('address.city').invalid && (registerForm.get('address.city').dirty || registerForm.get('address.city').touched)" class="log-error">
              <div *ngIf="registerForm.get('address.city')?.errors.required">City is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Password:</label>
          <input type="password" class="form-control" formControlName="pass">
          <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="log-error">
            <div *ngIf="pass?.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Confirm Password:</label>
          <input type="password" class="form-control" formControlName="passCof">
          <div *ngIf="passCof.invalid && (passCof.dirty || passCof.touched)" class="log-error">
            <div *ngIf="passCof?.errors.required && (passCof.dirty || passCof.touched)">Confirm Password is required</div>
            <!-- <div *ngIf="registerForm.valid && (passCof.dirty || passCof.touched) ">This field was inValid Pass</div> -->
          </div>
        </div>
        <div class="form-group" formArrayName="skills">
          <label for="">Skills:</label>
          <div class="d-flex flex-wrap align-center">
            <div *ngFor="let skill of skills.controls; let i=index" >
              <input class="form-control mr-2 mb-2" type="text" [formControlName]="i">
            </div>
            <button class="btn btn-primary" (click)="addSkill()" [disabled]="skills.length > 5">Add Skill</button>
          </div>
        </div>
        <div >
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-sign d-flex mg-auto">Sign up</button>
        </div>
      </form>
    </div>
  </section>
</section>

