<section class="new-page mt-4 mb-4">
  <div class="container">
    <section>
      <h2 class="d-flex jc-center title-page pd-2">Fashion Week</h2>
      <p class="title-detail d-flex jc-center pd-2">Satoshi Kondo showed a typically flawless blend of craft, clothing and performance.</p>
    </section>
    <section>
      <h3 class="pd-2 title-item">Job Description</h3>
      <p class="item-decription">The Experience and Payments Technology team focuses on exploring new technology, features, 
        and partnerships. These functions are critical to supporting the Loyalty and Payments organization’s
         online and in-store operations and must continuously be optimized as the organization evolves. The team manages
          the partnerships and technology roadmap and is tasked with securing partnerships that work across brands and 
          technology platforms.</p>
      <h4 class="pd-2 title-item">What you'll do?</h4>
      <p class="item-decription">Oversees existing experience and payments technology platforms, in conjunction with Product Management teams, and collaborates cross-functionally t
        o provide strategic direction/ requirements on feature updates (rewards in wallet, customer segmentation in app, etc) and bugs<br>
        Oversees and manages hindsighting on payments growth projects across all Gap, Inc. brands and reports findings to the leadership team and cross-functional partners<br>
        Supports and manages select partnerships with financial banking institutions, gift card merchants, 3rd party payment platforms as it relates to existing payments technology<br>
        Identifies opportunities to improve the Gap payment ecosystem and builds business case with cross-functional team to determine ROI and project feasibility<br>
        Manages relationship with cross-functional partners (UX/UI, PDM, GapTech) on select projects to test functionality and explore usability<br>
        Owns and manages projects and key assignments related to larger initiatives, including identification of key issues, analysis, development 
        of hypotheses and conclusions; presents findings to leadership team<br>
        Manages development and supports Brand Loyalty Marketing teams in socializing technology enhancements across the business to ensure smooth in-store and online execution<br>
        Prepares presentation documents and assists in presenting industry trends, technology updates and performance to all levels of management, including the Executive Leadership Team<br>
        Works with various cross-functional business partners to bring form/structure solutions to ambiguous business issues</p>
      <h4 class="pd-2 title-item">Who you are?</h4>
      <p class="item-decription">5+ years of relevant work experience with at least some experience in a finance, analytic, or product management role – or in the retail payments or payments technology space<br>
        Strong project management and organization skills with the ability to lead cross-functional teams, juggling multiple projects under tight deadlines<br>
        Strong communication skills: written, oral and formal presentation; ability to actively participate and influence executive-level discussions and decision making<br>
        Proven ability to lead, manage and gain alignment across a complex, matrixed organization<br>
        Experience diving into data, building a story using analytical, financial, and problem-solving skills<br>
        Highly comfortable with leveraging data to influence cross-functional teams to drive decisions<br>
        Proficient in Word, PowerPoint, and Google Docs (advanced skills preferred)<br>
        Bachelor’s Degree; MBA a plus</p>
        <button class="btn btn-primary txt-uppercase mg-2" (click)="backHome()">back home</button>
    </section>
  </div>
</section>
