<section class="profile-page row d-flex">
  <section class="profile-left">
    <img class="img-account" src="assets/images/profilePic.png" alt="">
    <ul class="menu-list">
      <li class="menu-item pd-2"><a class="menu-item-link">My Account</a></li>
      <li class="menu-item pd-2"><a class="menu-item-link">Purchase order</a></li>
      <li class="menu-item pd-2"><a class="menu-item-link">Notification</a></li>
      <li class="menu-item pd-2"><a class="menu-item-link">Wallet voucher</a></li>
      <li class="menu-item pd-2"><a class="menu-item-link">...</a></li>
    </ul>
  </section>
  <section class="profile-right pd-4">
    <form action="" class="pl-4 pr-4">
      <h2 class="title-form d-flex jc-center mg-2">Profile account</h2>
      <div class="form-group">
        <label for="">Full name:</label>
        <input class="form-control" type="text" (keyup)="checkType()">
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" (keyup)="checkType()">
      </div>
      <div class="form-group">
        <label>Address:</label>
        <div class="d-flex">
          <input class="form-control mr-2" type="text">
          <input class="form-control mr-2" type="text">
          <input class="form-control mr-2" type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="">Gender:</label>
        <div class="d-flex">
          <div class="mr-4 pd-2 d-flex align-center">
            <label for="">Male:</label>
            <input type="checkbox">
          </div>
          <div class="mr-4 pd-2 d-flex align-center">
            <label for="">FeMale:</label>
            <input type="checkbox">
          </div>
          <div class="mr-4 pd-2 d-flex align-center">
            <label for="">Other:</label>
            <input type="checkbox">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Phone:</label>
        <input class="form-control" type="number" (keyup)="checkType()">
      </div>
      <div>
        <button class="btn btn-primary">SAVE</button>
      </div>
    </form>
  </section>
</section>
