<div class="container">
  <ul class="product-list row">
    <li class="f-col-3 product-item" *ngFor="let product of products">
      <div class="product-border">
      <img src="./assets/images/{{product.img}}" class="product-card-img" alt="">
      <div class="product-card-content">
        <h4 class="product-card-title">{{ product.title }}</h4>
        <span class="product-card-description">{{ product.description }}</span><br>
        <span class="product-card-price">${{ product.price }}</span>
        <button class="btn-add-to-cart">ADD TO CART</button>
      </div>
      </div>
    </li>
  </ul>
</div>
